/*
 *
 * MMM-octoprint
 *
 * 
 * MIT Licensed.
 *
 * Custom here your css module
 *
 */
.MMM-octoprint .row {
    display: contents;
}

.MMM-octoprint .row-center {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.MMM-octoprint .thumb {
    margin-bottom: 5px;
}

.MMM-octoprint .column {
    white-space: nowrap;
    padding-right: 8px;
    text-align: left;
}

.MMM-octoprint .column-text-of {
    min-width: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.MMM-octoprint .column-text {
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
}

.MMM-octoprint {
    --progress-color: green;
    --progress-background-color: gray;
    --border-radius: 10px;
}

.MMM-octoprint .container {
    max-width: 300px;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 8px;
    align-items: baseline;
}

/* background: */
.MMM-octoprint progress::-webkit-progress-bar {
    background-color: var(--progress-background-color);
    border-radius: var(--border-radius);
}

.MMM-octoprint progress {
    background-color: var(--progress-background-color);
    border-radius: var(--border-radius);
}

/* value: */
.MMM-octoprint progress::-webkit-progress-value {
    background-color: var(--progress-color) !important;
    border-radius: var(--border-radius);
}

.MMM-octoprint progress::-moz-progress-bar {
    background-color: var(--progress-color) !important;
    border-radius: var(--border-radius);
}

.MMM-octoprint progress {
    color: var(--progress-color);
}